doctype html
html(lang="en")
    head
        meta(charset = "UTF-8")
        meta(name = "viewport", content = "width=device-width, initial-scale=1.0")
        meta(http-equiv = "X-UA-Compatible", content = "ie=edge")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous") 
        title BildTerapiHuset
        style body{background-color: #141829; overflow: auto;}main{width: 80vw; min-height: 100vh;height: relative; margin-left: 10%; background-color: #9fd0bb; text-align: center;}.navbar{padding: 0; margin: 0; background-color: #214683; width: 80vw;}img{margin: 0; padding: 0;}.container{margin: 0; padding: 0; width: 80vw; text-align: center;}div{margin: 0; padding: 0;}.col-3{margin: 0; padding: 0; }.navbar-brand{margin: 0; padding: 0;}.col-6{background-color: white;}.title, .text{background-color: white;}.row{margin: 0; padding: 0; width: 80vw;}
    body
        main
            include nav.pug

            script if(screen.width <= 700){document.location = "mobile.html";}
            
            .container
                .row
                    .col-3
                        img(src="images/kritor.jpg" alt="Kritor")
                    .col-6
                        h2(class="title") Välkommen till Bildterapihuset på Brogatan 5 i Umeå
                    .col-3
                .row
                    .col-3
                    .col-6
                        a(class="text" href="") Klicka här för att läsa mer om vad Bildterapihuset kan erbjuda dig!
                    .col-3
                .row
                    .col-3
                    .col-6
                        p(class="text") Bildterapihuset drivs av ett nätverk av bildterapeuter. Vi har vår verksamhet i en funktionellt inredd lokal på Brogatan 5. Huset ligger inne på gården, i huset bakom Swefo foto. Vår lokal ligger i källarvåningen och det står Bildterapihuset på dörren. Vi erbjuder bildterapi för individer, familjer och grupper, handledning, kurser och workshops. Klicka på länken ”Vi bildterapeuter” så ser du vilka vi är och hur du får kontakt med oss.
                    .col-3
                .row
                    .col-3
                    .col-6
                        h3(class="title") Bildterapi passar för dig som söker
                    .col-3
                .row
                    .col-3
                    .col-6
                        p(class="text") - Utveckling och förändring på det personliga planet <br>
                            |- Stöd i bearbetning av en aktuell eller genomgången kris <br>
                            |- Andra uttryckssätt än orden
                .row
                    .col-3
                    .col-6
                        h3(class="title") Bildterapeutiska metoder passar för gruppen som vill
                .row
                    .col-3
                    .col-6
                        p(class="text") - Undersöka och förbättra sina kommunikationsmönster<br>
                            |- Utveckla kreativitet, lust och motivation i arbetet<br>
                            |- Lära känna sig själva och varandra
                .row
                    .col-3
                    .col-6
                        p(class="text") Vi är högskoleutbildade bildterapeuter med lång yrkeserfarenhet från socialt arbete, vård, specialpedagogik och själavårdande arbete. Vi är alla medlemmar i Sveriges Riksförbund för bildterapeuter (SRBt), följer deras Etiska riktlinjer och erhåller handledning på vårt arbete.
                .row
                    .col-3
                    .col-6
                        p(class="text") Ytterligare information och bokningar via 
                            a(href="mailto:kgunillak@gmail.com") kgunillak@gmail.com

            block content

            script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
            script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")