nav(class="navbar navbar-dark")

    .container
        .col-3
            a(class="navbar-brand" href="index.html")
                img(id="logo" src="images/BTHLogo.png" alt="BTH")
    .container
        .col-3
            a(class="navbar-brand" href="https://www.netflix.com/" target="_blank") Aktuellt
        .col-3
            a(class="navbar-brand") Vi Bildteraputer
        .col-3
            a(class="navbar-brand") Resurser och Länkar
        .col-3
            a(class="navbar-brand") Kontakt