
.container
    nav(class="navbar navbar-dark")
        .col-3
            a(class="navbar-brand" href="index.html")
                img(id="logo" class="img-fluid" src="images/BTHLogo.png" alt="BTH")
        .col-3
            a(class="navbar-brand" href="https://www.netflix.com/" target="_blank") Aktuellt
        .col-2
            a(class="navbar-brand") Vi Bildteraputer
        .col-2
            a(class="navbar-brand") Resurser och Länkar
        .col-2
            a(class="navbar-brand") Kontakt