
.container
    nav(class="navbar navbar-dark")
        .col-3
            a(class="navbar-brand" href="index.html")
                img(id="logo" class="img-fluid" src="images/BTHLogo.png" alt="BTH")
        .col-3
            a(class="navbar-brand" href="") Aktuellt
        .col-2
            a(class="navbar-brand" href="") Vi Bildteraputer
        .col-2
            a(class="navbar-brand" href="") Resurser och Länkar
        .col-2
            a(class="navbar-brand" href="") Kontakt